# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo
*.pyd
*.pyc

# C/C++
*.o
*.obj
*.dll
*.a
*.lib
*.exp
*.dylib
*.pdb

# Build/distribution
build/
dist/
.eggs/
*.egg-info/
*.egg
MANIFEST
sdist/
wheels/
share/python-wheels/
downloads/
develop-eggs/
lib/
lib64/
parts/
var/
.Python
.installed.cfg

# Data and outputs
data/
*.log
*.out
*.tmp
*.bak

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/
htmlcov/

# Jupyter/IPython
.ipynb_checkpoints
profile_default/
ipython_config.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Cython debug symbols
cython_debug/

# VSCode
.vscode/
.history/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# Apptainer 
*.sif

# Ignore files used for development purposes
helper_scripts/
.ignore_for_code_sync

